extends layout

block content
    if !user
        p Please log in 
        a(href="/") Go back 
    else
        if user.approved 
            p You're already in! 
            a(href="/") Go back 
        else 
            form(method="POST" action="/secretPassword" class ="pageForm secret")
                label(for="secretPassword") Enter the secret code:
                input(name="secretPasswordInput" type="password" placeholder="Secret Code")
                button.formButton(name="secretPasswordBtn") Submit

            if error 
                p Incorrect Code